@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;
  --color-gaming-dark: #0f172a;
  --color-gaming-card: #1e293b;
}

body {
  background-color: var(--color-gaming-dark);
  color: #f1f5f9;
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(30, 41, 59, 0.5); /* Slate-800 with transparency */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569; /* Slate-600 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* Slate-500 */
}
